body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  h1 {
    color: #00698f;
  }
  
  p {
    font-size: 18px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  input[type="submit"] {
    background-color: #00698f;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #003d5f;
  }