* {
    box-sizing: border-box; /* Para garantir que padding e border não aumentem a largura total */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden; /* Evita a rolagem horizontal */
}

header {
    background-color: #0c1929;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h3 {
    margin-top: 20px;
}

form {
    background-color: white;
    padding: 40px; /* Ajuste para dar um espaço interno agradável */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 20%;
    max-width: 600px; /* Largura máxima maior para desktops */
    width: 90%; /* Largura em porcentagem para evitar overflow */
}

#f1 {
    margin-top: 10%;
}

p {
    margin: 15px 0;
    font-size: 1.1em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    margin-top: 2%;
}

button {
    background-color: #1c3296;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #195dc4;
}

footer {
    position: absolute; /* Permite que o rodapé se mova com o conteúdo */
    background-color: #0c1929;
    color: white;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-size: 0.9em;
    padding: 10px; /* Adicionado padding para o rodapé */
}

/* Media Queries */
@media (max-width: 600px) {
    h1 {
        font-size: 2em; /* Reduzindo o tamanho da fonte do título para telas menores */
    }

    form {
        padding: 15px; /* Menos padding em telas menores */
    }

    p {
        font-size: 1em; /* Tamanho da fonte reduzido */
    }

    button {
        padding: 8px; /* Menos padding para botões */
    }
}
